* {
  box-sizing: border-box;
}

html {
  background: radial-gradient(circle at bottom left, #ffffff 0%, #031c3c 90%),
    url(../images/bg.jpg),
    #031c3c;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}

body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a:link,
a:hover,
a:active,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

h1 {
  font-family: "Cormorant Upright", serif;
  margin: 0;
}

h2 {
  font-family: "Cormorant Upright", serif;
  margin-top: 0;
}

#headline-block {
  text-align: center;
  width: 96%;
}

#video-block {
  width: 96%;
}

#video-cont {
  padding: 56.25% 0 0 0;
  position: relative;
}

#video-cont > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#link-block {
  text-align: center;
  width: 96%;
  margin: 0;
  padding: 50px;
}

@media screen and (min-width: 768px) {
  #headline-block,
  #video-block,
  #link-block {
    width: 80%;
    max-width: 992px;
  }

  h1 {
    display: inline-block;
  }

  h1:after {
    content: ' | ';
  }

  h2 {
    font-size: 2em;
    display: inline-block;
    padding-left: 5px;
  }
}
